body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #3498db;
    padding: 20px;
    color: #fff;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 2em;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #3498db;
    margin-top: 20px;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    flex: 0 1 45%;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

li:hover {
    transform: scale(1.05);
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.back-link:hover {
    background-color: #2963a0;
}