body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #3498db;
}

#searchForm {
    margin-top: 20px;
    padding: 10px;
    background-color: #3498db;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 10px 15px;
    background-color: #fff;
    color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

ul.pokemon-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    flex: 0 1 calc(25% - 20px); /* Ajusta según sea necesario */
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

/* Estilos para la paginación */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    padding: 8px 12px;
    color: #3498db;
    text-decoration: none;
    border: 1px solid #3498db;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.pagination li a:hover {
    background-color: #3498db;
    color: #fff;
}

.pagination li.active a {
    background-color: #3498db;
    color: #fff;
    border: 1px solid #3498db;
}
